services:
  opensearch:
    image: opensearchproject/opensearch:latest
    env_file: .env
    ports:
      - "9200:9200"
      - "9600:9600"

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:latest
    env_file: .env
    ports:
      - "5601:5601"
    depends_on:
      - opensearch