# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyc
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
.cursor/

# Database
*.db
*.sqlite3

# Docker
docker-compose.override.yml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Kafka
KAFKA-*/kafka/

# RabbitMQ
LABA_RABBIT_MQ/
